/*
Global Variables
*/

body {
    height: 1;
    background-color: antiquewhite;
}

/* Color Codes
Lightest: #0E98BE
Light: #0D81A6
Dark: #083A5B
Darkest: #061E3E */

/* Still suffering from the specific height problem */
.headerContainer {
    width: 100%;
    height: 3vw;
    min-height: 65px;
    max-height: 100px;
    background-color: #0D81A6;
}
/* Sidenav CSS */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #061E3E;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
    margin-top: 20px;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #0D81A6;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 5vw;
  margin-left: 10%;
    margin-top: 5%;
}

#supercontainer {
  transition: margin-left .5s;
  padding: 2%;
}

#whiteHamburger {
    color: white;
    font-size: 40px;
}

#whiteHamburger:hover {
    color: #083A5B;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Content */

.mainContainer {
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
    min-width: 700px;
}

.filler {
    width: 100%;
    height: 10vw;
    background-color: aliceblue;
}

.Title {
    font-size: 5vw;
    color: #083A5B;
}

/* Flip Card */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 200px;
  height: 250px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
