/*
Global Variables
*/ 

body {
    background-color: azure;
    height: 100%;
    background-color: #0D81A6;
}

/* Color Codes 
Lightest: #0E98BE
Light: #0D81A6
Dark: #083A5B
Darkest: #061E3E */

/* Still suffering from the specific height problem */
.headerContainer {
    width: 100%;
    height: 50px;
    text-align: right;
    margin-top: -5%;
}

.aheader {
    margin-top: 4vh;
    float: left;
}

/* Sidenav CSS */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #061E3E;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
    margin-top: 20px;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #0D81A6;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 5vw;
  margin-left: 10%;
    margin-top: 5%;
}

#supercontainer {
  transition: margin-left .5s;
  padding: 2%;
}

#whiteHamburger {
    color: white;
    font-size: 3vw;
}

#whiteHamburger:hover {
    color: #083A5B;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* NOTE: Need an alternate image when media @ w=400px. Image dimmensions, w=395px, h=500px */

/* 
NOTE: animation will not work if the div is a span for some reason. I think it has to do with the dimensions. 
*/

/*
NOTE: positioning is messing up the notice banner in the header - the push sidenav bar doesn't affect the dimmensions given to the text resizing code for some reason, so it doesn't shit to accomodate the change AND there's a bit too much space between the hamburger menu & the banner because I can't have them on the same line. Doing 'margin-top' to a negative or positive doesn't work for some reason as well. Finally, when screen width is at maximum, the banner overlaps with the background image. 
UPDATE: adding style="display:inline-block" resolves the span conflict with the animation. However - I am no longer allowed to assign percentages to margin-left, and all must be done in pixels. It looks very bad (250px is what I've settled at). I am still unable to add either margin-top or margin-bottom.
UPDATE2: the animation fix from update1 is the reason that percentages no longer work. Inline-block disables my ability to use percentages for my margin-left. New observations:
- inline-flex still solves U1 problem. display: contents, inline do not, but restore my ability to manipulate percentages.
DECISION: I can either have the odd whitespace, not manipulate percentages, or not do animations. Can't eat cake.
UPDATE3: I ATE CAKE. Separating the hamburger and the header container DID result in uncomfortable whitespace, but being able to control margins again allowed me to set a negative margin-top for the header container. 
*/

.headerNotice {
    margin-left: 250px;
    color: white;
    font-family: Verdana;
    font-weight: 600;
    font-size: 2.5vw;
    text-shadow: 1px 1px black;
}

#daysTill {
    color: red;
    font-size: 4vw;
    text-decoration: underline;
    text-shadow: 1px 1px black;
}

.backgroundContainer {
    height: 500px;
    background-color: #083A5B;
    margin: auto;
    background-image: url(chicago.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position:center;
    margin-top: 2%;
}

/* Main Content */

.contentContainer {
    min-height: 200px;
    background-color: #0D81A6;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 2%;
    border-top: 5px solid #0D81A6;
    border-bottom: 5px solid #0D81A6;
}

.filler {
    max-width: 400px;
    max-height: 150px;
    border-right: 1px solid #0D81A6;
    border-left: 1px solid #0D81A6;
    background-color: white;
}

.goVote {
    border-top: 7px solid white;
    background-color: #0D81A6;
    border-radius: 5px;   
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -webkit-transition: all 2s ease;
}

/* NOTE: For some reason, the hover animation for each of the sections spases out whenever the mouse approaches it from below. Changing just the margin-bottom does not affect this. Neither does changing the margin-top.
UPDATE: adding transition fixes this issue AND makes it look cooler. */

.goVote:hover {
    margin-top: -80px;
    margin-bottom: 80px;
    -moz-transform:translate(0,-1.3em);
     -o-transform:translate(0,-1.3em);
     -webkit-transform:translate(0,-1.3em);
}

#goVoteHeader {
    color: white;
    text-align: center;
    margin-top: 2%;
    font-family: Verdana;
    font-size: 2.5vw;
    padding-left: 5%;
    padding-right: 5%;
}

#goVoteButton {
    width: 100%;
    margin-top: 10%;
    /* Having trouble centering the button within the div */ 
    padding-top: 10%;
    padding-bottom: 10%;
    border: 2px solid white;
    background-color: #0E98BE;
    color: white;
    font-family: Verdana;
    font-size: 2vw;
    border-radius: 5px;
}

#goVoteButton:hover {
    background-color: white;
    color: #0E98BE;
}

.whyVote {
    max-height: 150px;
    border-top: 7px solid white;
    background-color: #0D81A6;
    border-radius: 5px;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -webkit-transition: all 2s ease;
}

.whyVote:hover {
    margin-top: -80px;
    margin-bottom: -80px;
     -moz-transform:translate(0,-1.3em);
     -o-transform:translate(0,-1.3em);
     -webkit-transform:translate(0,-1.3em);
}

#whyVoteHeader {
    color: white;
    text-align: left;
    margin-top: 2%;
    font-family: Verdana;
    font-size: 2.1vw;
    padding-left: %;
    padding-right: 5%;  
}

#whyVoteButton {
    margin-top: 12%;
    padding-top: 5%;
    padding-bottom: 5%;
    border: 2px solid white;
    background-color: #0E98BE;
    color: white;
    font-family: Verdana;
    font-size: 1.vw;
    border-radius: 5px;
}

.moreInfo {
    max-height: 150px;
    border-top: 7px solid white;
    background-color: #0D81A6;
    border-radius: 5px;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -webkit-transition: all 2s ease;
}

.moreInfo:hover {
    margin-top: -80px;
    margin-bottom: 80px;
    -moz-transform:translate(0,-1.3em);
     -o-transform:translate(0,-1.3em);
     -webkit-transform:translate(0,-1.3em);
}

#moreInfoHeader {
    color: white;
    text-align: right;
    margin-top: 2%;
    font-family: Verdana;
    font-size: 2.1vw;
    padding-left: 5%;
}

#otherVoteButton {
    margin-top: 12%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    border: 2px solid white;
    background-color: #0E98BE;
    color: white;
    font-family: Verdana;
    font-size: 1.5vw;
    border-radius: 5px;
}

#otherVoteButton:hover {
     background-color: white;
    color: #0E98BE;
}

#moreInfoButton {
    margin-top: 12%;
    margin-left: 9%;
    padding-top: 5%;
    padding-bottom: 5%;
    border: 2px solid white;
    background-color: #0E98BE;
    color: white;
    font-family: Verdana;
    font-size: 1.5vw;
    border-radius: 5px;
}

#moreInfoButton:hover {
     background-color: white;
    color: #0E98BE;
}

.footerContainer {
    height: 70px;
    width: 100%;
    background-color: #083A5B;
    margin-top: 5%;
}



