/*
Global Variables
*/

body {
    background-color: #d6e3ff;
    height: 100%;
    font-family: 'Lato', sans-serif;
    margin:0px;
}

/* Color Codes
Lightest: #0E98BE
Light: #0D81A6
Dark: #083A5B
Darkest: #061E3E */

/* Still suffering from the specific height problem */
.headerContainer {
    width: 100%;
    height: 80px;
    margin-top: -55px;
    background-color: #13214C;
    text-align:right;
}

#headerText {
  color: white;
}

#headerText img {
  width: 400px;
  height: auto;
}


.aheader {
    margin-top: 4vh;
    float: left;
}

/* Sidenav CSS */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #13214C;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  margin-top: 20px;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #0D81A6;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 5vw;
  margin-left: 10%;
  margin-top: 5%;
}

#supercontainer {
  transition: margin-left .5s;
/*  padding: 2%;*/
}

#whiteHamburger {
    color: white;
}

#whiteHamburger:hover {
    color: #13214C;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* NOTE: Need an alternate image when media @ w=400px. Image dimmensions, w=395px, h=500px */

/*
NOTE: animation will not work if the div is a span for some reason. I think it has to do with the dimensions.
*/

/*
NOTE: positioning is messing up the notice banner in the header - the push sidenav bar doesn't affect the dimmensions given to the text resizing code for some reason, so it doesn't shit to accomodate the change AND there's a bit too much space between the hamburger menu & the banner because I can't have them on the same line. Doing 'margin-top' to a negative or positive doesn't work for some reason as well. Finally, when screen width is at maximum, the banner overlaps with the background image.
UPDATE: adding style="display:inline-block" resolves the span conflict with the animation. However - I am no longer allowed to assign percentages to margin-left, and all must be done in pixels. It looks very bad (250px is what I've settled at). I am still unable to add either margin-top or margin-bottom.
UPDATE2: the animation fix from update1 is the reason that percentages no longer work. Inline-block disables my ability to use percentages for my margin-left. New observations:
- inline-flex still solves U1 problem. display: contents, inline do not, but restore my ability to manipulate percentages.
DECISION: I can either have the odd whitespace, not manipulate percentages, or not do animations. Can't eat cake.
UPDATE3: I ATE CAKE. Separating the hamburger and the header container DID result in uncomfortable whitespace, but being able to control margins again allowed me to set a negative margin-top for the header container.
*/


#notice {
  /*  margin-left: 250px;*/
    color: #13214C;
    font-family: 'Lato', sans-serif;
    font-size: 4.5vw;
    text-align: center;
    /*position:absolute;
    top: 80px;
    right: 0;*/
}
#days {
    color: #B72E32;
    font-size: 5vw;
}

.backgroundContainer {
    height: 600px;
    background-color: white;
    /*background-image: url(election.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position:center;
    margin-top: 1%;*/
}

/* Main Content */

.contentContainer {
    /*min-height: 200px;*/
    /*background-color: #18374B;*/
    width: 100%;
    margin-top:120px;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 2%;
}

.imageContainer {
  float: left;
  width: 100%;
}

.imageContainer img {
  width: 100%;
  height: auto;
}


.filler {
    max-width: 400px;
    max-height: 150px;
    border-right: 1px solid #0D81A6;
    border-left: 1px solid #0D81A6;
    background-color: white;
}

.goVote {
    border-radius: 5px;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -webkit-transition: all 2s ease;
    padding: 1%;
}

/* NOTE: For some reason, the hover animation for each of the sections spases out whenever the mouse approaches it from below. Changing just the margin-bottom does not affect this. Neither does changing the margin-top.
UPDATE: adding transition fixes this issue AND makes it look cooler. */

#goVoteHeader {
    color: white;
    text-align: center;
    margin-top: 2%;
    font-family: 'Lato', sans-serif;
    font-size: 2.1vw;
    padding-left: 5%;
    padding-right: 5%;
}

#goVoteButton {
    /*margin-top: 5%;*/
    width:100%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #13214C;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1.5vw;
    border-radius: 5px;
    border: 2px solid white;
}

#goVoteButton:hover {
    background-color: white;
    color: #13214C;
    border-radius: 5px;
    border: 2px solid #13214C;
}

.whyVote {
    max-height: 150px;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -webkit-transition: all 2s ease;
    padding: 1%;
}

#whyVoteHeader {
    color: white;
    text-align: center;
    margin-top: 2%;
    font-family: 'Lato', sans-serif;
    font-size: 2.1vw;
    padding-left: 5%;
    padding-right: 5%;
}

#whyVoteButton {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    border: 2px solid white;
    background-color: #13214C;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1vw;
}

.moreInfo {
    max-height: 150px;
    border-radius: 5px;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -webkit-transition: all 2s ease;
    padding: 1%;
}

#moreInfoHeader {
    color: white;
    text-align: center;
    margin-top: 2%;
    font-family: 'Lato', sans-serif;
    font-size: 2.1vw;
}

#otherVoteButton {
    width:100%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    border: 2px solid white;
    background-color: #13214C;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1.5vw;
    border-radius: 5px;
}

#otherVoteButton:hover {
     background-color: white;
     color: #13214C;
     border-radius: 5px;
     border: 2px solid #13214C;
}

#moreInfoButton {
    /*margin-left: 9%;*/
    width:100%;
    padding-top: 5%;
    padding-bottom: 5%;
    border: 2px solid white;
    background-color: #13214C;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1.5vw;
    border-radius: 5px;
    float: right;
}

#moreInfoButton:hover {
     background-color: white;
    color: #13214C;
}
