/*
Global Variables
*/ 

body {
    height: 100%;
    background-color: antiquewhite;
}

/* Color Codes 
Lightest: #0E98BE
Light: #0D81A6
Dark: #083A5B
Darkest: #061E3E */

/* Still suffering from the specific height problem */
.headerContainer {
    width: 100%;
    height: 8vw;
    min-height: 65px;
    max-height: 100px;
    background-color: #0D81A6;
}

.headerBanner {
    color: white;
    font-family: verdana;
    font-size: 5vw;
    margin-left: 20vw;
    
}

/* Sidenav CSS */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #061E3E;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
    margin-top: 20px;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #0D81A6;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 5vw;
  margin-left: 10%;
    margin-top: 5%;
}

#supercontainer {
  transition: margin-left .5s;
  padding: 2%;
}

#whiteHamburger {
    color: white;
    font-size: 40px;
}

#whiteHamburger:hover {
    color: #083A5B;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Content */

.mainContainer {
    width: 100%;
    height: 100vw;
    background-color: antiquewhite;
}

.filler {
    width: 100%;
    height: 10vw;
    background-color: aliceblue;
}

/* Bootstrap Tabs & Pills */

.tabContainer {
    
}

.tabTitle {
    font-size: 2vw;
    margin-left: 40vw;
    color: #083A5B;
}

/* Footer */

.footerContainer {
    width: 100%;
    height: 5vw;
    background-color: #0D81A6;
}

