/*
Global Variables
*/ 

body {
    height: 100%;
    background-color: antiquewhite;
}

/* Color Codes 
Lightest: #0E98BE
Light: #0D81A6
Dark: #083A5B
Darkest: #061E3E */

/* Still suffering from the specific height problem */
.headerContainer {
    width: 100%;
    height: 3vw;
    min-height: 65px;
    max-height: 100px;
    background-color: #0D81A6;
}

/* Sidenav CSS */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #061E3E;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
    margin-top: 20px;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #0D81A6;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 5vw;
  margin-left: 10%;
    margin-top: 5%;
}

#supercontainer {
  transition: margin-left .5s;
  padding: 2%;
}

#whiteHamburger {
    color: white;
    font-size: 40px;
}

#whiteHamburger:hover {
    color: #083A5B;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Content */

.mainContainer {
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
}

.filler {
    width: 100%;
    height: 10vw;
    background-color: aliceblue;
}

/* Bootstrap Tabs & Pills */

.tabContainer {
    
}

.tabTitle {
    font-size: 4vw;
    color: #083A5B;
}

/* Tab Content */

/* NOTE: All heights need to add up to 80vh, all widths */

.issueMatrix {
    
}

.blueBox {
    height: 10vh;
    width: 50%;
    background-color: skyblue;
    border-radius: 10px;
    float: right;
}

.blueBoxTextContainer {
    padding: .5vh;
}

.blueBoxNumber {
    font: verdana;
    color: white;
    font-weight: 600;
    font-size: 3.5vw;
    font-size: 3.5vh;
}

.blueBoxText {
    font: verdana;
    color: white;
    font-weight: 300;
    font-size: 3vw;
    font-size: 3vh;
}

.bigFont {
    font: verdana;
    font-size: 2.5vw;
    color: white;
    background-color: darkslategray;
}

/* Boxes */

#HealthCare {
    height: 30vh;
    width: 60%;
    background-color: #083A5B;
    border-radius: 10px;
    float: right;
}

#HealthCare:hover {
    background-color: midnightblue;
}

#TheEconomy {
    height: 30vh;
    width: 40%;
    background-color: #0D81A6;
    border-radius: 10px;
    float: right;
}

#TheEconomy:hover {
    background-color: midnightblue;
}

#Immigration {
    height: 18vh;
    width: 40%;
    background-color: #0D81A6;
    border-radius: 10px;
    float: right;
}

#Immigration:hover {
    background-color: midnightblue;
}

#GunPolicy {
    height: 18vh;
    width: 30%;
    background-color: deepskyblue;
    border-radius: 10px;
    float: right;
}

#GunPolicy:hover {
    background-color: midnightblue;
}

#WomensRights {
    height: 18vh;
    width: 30%;
    background-color: deepskyblue;
    border-radius: 10px;
    float: right;
}

#WomensRights:hover {
    background-color: midnightblue;
}

/* Footer */

.footerContainer {
    width: 100%;
    height: 5vw;
    background-color: #0D81A6;
}
