/*
Body Template Classes
*/

#supercontainer {
    margin: auto;
    height: 700px;
    width: 1000px;
}

.meta_container {
    display: grid;
    grid-template-rows: 7% 86% 7%;
   
    height: 100%;
    width: 100%;
    grid-gap: 1%;

}

#main_container {
    height: 100%;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    display: grid;
    grid-gap: 2%;
    grid-template-rows: 16% 15% 45% 18%;
}

.blank {
    background-color: beige;
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

.filler {
    background-color: clear;
    height: 100%;
    width: 100%;
}

.titleContainer {
    background-color: skyblue;
    width: 50%;
    margin-left: 25%;
}

.title {
    font-family: georgia;
    text-align: center;
    margin-top: 5%;
    font-size: 30px;
    color: white;
}

#questions1Container {
    background-color: clear;
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 7% 26% 26% 26% 7%
}

.questions1A {
    background-color: deepskyblue;
}

.questions2A {
    background-color: deepskyblue;
}

.questions3A {
    background-color: deepskyblue;
}

.questionsText {
    font-family: arial;
    text-align: center;
    margin-top: 10%;
    font-size: 18px;
    color: white;
}

.button1A {
    background-color: blue;
    border: none;
    color: white;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 16px;
    margin-top: 28%
}

.button1A:hover {
    background-color: white;
    color: black;
}

.button2A {
    background-color: blue;
    border: none;
    color: white;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 16px;
    margin-top: 18%

}

.button2A:hover {
    background-color: white;
    color: black;
}

.button3A {
    background-color: blue;
    border: none;
    color: white;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 16px;
    margin-top: 18%;
}

.button3A:hover {
    background-color: white;
    color: black;
}

/*
Beginning of 1B Toggled Content
*/

/* Class & ID names can't start w/ numbers */

#container1B {
    height: 100%;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 10% 20% 60% 10%
}

.titleContainer1B {
    background-color: deepskyblue;
    width: 100%;
    height: 100%;
}

.title1B {
    font-family: georgia;
    text-align: left;
    margin-top: 1%;
    font-size: 20px;
    color: white;
    margin-left: 1%;
}

.subtitle1B {
    font-family: arial;
    text-align: left;
    margin-top: 1%;
    font-size: 15px;
    color: white;
    margin-left: 2%;
}

.application1B {
    background-color: slategrey;
}

.button1B {
    background-color: blue;
    border: none;
    color: white;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 16px;
    margin-left: 40%;
    margin-top: 13%
    
}

.button1B:hover {
    background-color: white;
    color: black;
}
}

/* Beginning of 1C Toggled Content */

#container1C {
    height: 100%;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 50% 50%;
    background-color: blue;

}

.blankbox {
    color: blue;
}

