/*
Body Template Classes
*/

#supercontainer {
    margin: auto;
    height: 1000px;
    width: 1000px;
}

.meta_container {
    display: grid;
    grid-template-rows: 7% 86% 7%;
    border: px solid black;
    height: 100%;
    width: 100%;
    grid-gap: 1%;

}

.main_container {
    height: 100%;
    width: 100%;
    background-color: beige;
    border: 1px solid black;
    margin: auto;
    box-sizing: border-box;
}

.blank {
    background-color: beige;
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

.filler {
    background-color: clear;
    height: 100%;
    width: 100%;
}