/*
Global Variables
*/ 

body {
    background-color: azure;
    height: 100%;
    background-color: #0D81A6;
}

/* Color Codes 
Lightest: #0E98BE
Light: #0D81A6
Dark: #083A5B
Darkest: #061E3E */

/* Still suffering from the specific height problem */
.headerContainer {
    width: 100%;
    background-color: #0D81A6;
}

/* Sidenav CSS */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #061E3E;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
    margin-top: 20px;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #0D81A6;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 5vw;
  margin-left: 10%;
    margin-top: 5%;
}

#supercontainer {
  transition: margin-left .5s;
  padding: 2%;
}

#whiteHamburger {
    color: white;
    font-size: 3vw;
}

#whiteHamburger:hover {
    color: #083A5B;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Main Content */ 

#question {
    width: 100%;
    background-color: white;
    color: #083A5B;
    text-align: center;
    font-size: 35px;
    font-family: verdana;
}

#filler {
    height: 30%;
}

/* Question 1 */

#question1Container {
    height: 150px;
    width: 100%;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 2%;
    margin-top: 2%;
}

.answer {
    background-color: #0E98BE;
    text-align: center;
    border: 1px solid white;
    font-family: verdana;
    color: white;
}

#answer:hover {
    background-color: white;
    color: #0E98BE;
}

#answer1A {
    background-color: #0E98BE;
    text-align: center;
    border: 1px solid white;
    font-family: verdana;
    color: white;
       text-decoration: underline;
}
#answer1A:hover {
    background-color: white;
    color: #0E98BE;
}

#answer1B {
    background-color: #0E98BE;
    text-align: center;
    border: 1px solid white;
    font-family: verdana;
    color: white;
    height: 150px;
    text-decoration: underline;
}
#answer1B:hover {
    background-color: white;
    color: #0E98BE;
}

#answer1C {
    background-color: #0E98BE;
    text-align: center;
    border: 1px solid white;
    font-family: verdana;
    color: white;
     height: 150px;
    text-decoration: underline;
}
#answer1C:hover {
    background-color: white;
    color: #0E98BE;
}

/* Question 1A2 */

#question1A2 {
    margin-top: 2%;
}

#question1A2Container {
    height: 150px;
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 2%;
    margin-top: 2%;
}

#answer1A2A {
    background-color: #0E98BE;
    text-align: center;
    border: 1px solid white;
    font-family: verdana;
    color: white;
}
#answer1A2A:hover {
    background-color: white;
    color: #0E98BE;
}

#answer1A2B {
    background-color: #0E98BE;
    text-align: center;
    border: 1px solid white;
    font-family: verdana;
    color: white;
}
#answer1A2B:hover {
    background-color: white;
    color: #0E98BE;
}

/* Question 1A2A3 */

#question1A2A3 {
    margin-top: 2%;
}

.question1A2A3 {
    width: 100%;
    background-color: white;
    color: #083A5B;
    text-align: center;
    font-size: 2vh;
    font-family: verdana;
}

#question1A2A3Container {
    height: 150px;
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 2%;
    margin-top: 2%;
}

#answer1A2A3A {
    background-color: #0E98BE;
    text-align: center;
    border: 1px solid white;
    font-family: verdana;
    color: white;
}
#answer1A2A3A:hover {
    background-color: white;
    color: #0E98BE;
}

#answer1A2A3B {
     background-color: #0E98BE;
    text-align: center;
    border: 1px solid white;
    font-family: verdana;
    color: white;
}
#answer1A2A3B:hover {
    background-color: white;
    color: #0E98BE;
}

#warning1A2B {
    height: 200px;
    width: 80%;
    max-width: 400px;
    margin: auto;
    background-color: #083A5B;
    margin-top: 2%;
    text-align: center;
}

#ageWarning {
    height: 200px;
    width: 80%;
    max-width: 400px;
    margin: auto;
    background-color: #083A5B;
    margin-top: 2%;
    text-align: center;
}

.warningBanner {
    color: red;
    text-align: center;
    font-size: 40px;;
    text-decoration: underline;
    text-shadow: 2px 2px black;
    margin-top: 2%;
}

.warningText {
    color: white;
    text-align: center;
}

.warningButton {
    padding: 10px 10px;
    font-size: 20px;
    background-color: #0E98BE;
    color: white;
    border: none;
}

/* Data Entry 1A2A3A */

#dataEntry1A2A3A {
    margin-top: 2%;
}

.dataEntry1A2A3A {
    height: 50px;
    width: 100%;
    background-color: white;
    color: #083A5B;
    text-align: center;
    font-size: 3vw;
    font-family: verdana;
}

#dataEntry1A2A3AContainer {
    height: 50px;
}

#dropDown1A2A3A {
    background-color: #0E98BE;
    text-align: center;
    font-family: verdana;
    color: white;
    margin-top: 2%;
}

.question1A2A3A4 {
        height: 50px;
        width: 100%;
        background-color: white;
        color: #083A5B;
        text-align: center;
        font-size: 3vw;
        font-family: verdana;
}

#question1A2A3A4Container {
    height: 150px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 2%;
    margin-top: 2%;
}

#answer1A2A3A4A {
    background-color: #0E98BE;
    text-align: center;
    border: 1px solid white;
    font-family: verdana;
    color: white;
}
#answer1A2A3A4A:hover {
    background-color: white;
    color: #0E98BE;
}

#answer1A2A3A4B {
    background-color: #0E98BE;
    text-align: center;
    border: 1px solid white;
    font-family: verdana;
    color: white;
}
#answer1A2A3A4B:hover {
    background-color: white;
    color: #0E98BE;
}

#answer1A2A3A4C {
    background-color: #0E98BE;
    text-align: center;
    border: 1px solid white;
    font-family: verdana;
    color: white;
}
#answer1A2A3A4C:hover {
    background-color: white;
    color: #0E98BE;
}

/* Results of Question1A2A3A4 */
#question1A2A3A4A5 {
    margin-top: 2%;
}
.question1A2A3A4A5 {
    width: 100%;
    background-color: white;
    color: #083A5B;
    text-align: center;
    font-size: 3vw;
    font-family: verdana;
}
.proceed {
    padding: 10px 10px;
    font-size: 20px;
    background-color: #0E98BE;
    color: white;
    text-decoration: underline;
    border: none;
    width: 30%;
    margin-left: 36%;
    margin-top: 2%;
}
.proceed:hover {
    background-color: white;
    color: #0E98BE;
}

#licenseNext {
    height: 200px;
    width: 80%;
    max-width: 400px;
    margin: auto;
    background-color: #083A5B;
    margin-top: 2%;
    text-align: center;
}
.nextBanner {
    color: greenyellow;
    text-align: center;
    font-size: 40px;;
    text-decoration: underline;
    text-shadow: 2px 2px black;
    margin-top: 2%;
}
.OKButton {
    padding: 10px 10px;
    font-size: 20px;
    background-color: #0E98BE;
    color: white;
    text-decoration: underline;
    border: none;
    width: 60%;
    margin-left: 18%;
}

#question1A2A3A4C5 {
    margin-top: 2%;
}
.question1A2A3A4C5 {
    width: 100%;
    background-color: white;
    color: #083A5B;
    text-align: center;
    font-size: 3vw;
    font-family: verdana;
}
#question1A2A3A4C5Container {
    height: 150px;
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 2%;
    margin-top: 2%;
}
#answer1A2A3A4C5A {
    background-color: #0E98BE;
    text-align: center;
    border: 1px solid white;
    font-family: verdana;
    color: white;
}
#answer1A2A3A4C5A:hover {
    background-color: white;
    color: #0E98BE;
}
#answer1A2A3A4C5B {
    background-color: #0E98BE;
    text-align: center;
    border: 1px solid white;
    font-family: verdana;
    color: white;
}
#answer1A2A3A4C5B:hover {
    background-color: white;
    color: #0E98BE;
}
/* Results of Question1A2A3A4A5 */
/* Results of Question1A2A3A4C5 */

.footer {
    height: 500px;
    background-color: #0D81A6;
}

/* 
I don't seem to be able to directly edit the CSS surrounding the datalist & input tags. Not sure what's controlling those. 
*/ /*CSS-ing the Inputs*/















