/*
Global Variables
*/ 

body {
    background-color: #0D81A6;
}

* {
    box-sizing: border-box;
}

/* Color Codes 
Lightest: #0E98BE
Light: #0D81A6
Dark: #083A5B
Darkest: #061E3E 
Orange: #FF9F55 */

/* Unicodes 
Leftwards Arrow: &#11064;
Rightwards Arrow: &#10513;


/* Sidenav CSS */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #061E3E;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
    margin-top: 20px;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #0D81A6;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 5vw;
  margin-left: 10%;
    margin-top: 5%;
}

.headerContainer {
    width: 100%;
    height: 5vh;
}

#whiteHamburger {
    color: white;
    font-size: 4vw;
    margin-left: 5%;
}

#whiteHamburger:hover {
    color: #083A5B;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Main Content */

.main {
    height: 36vh;
    width: 70vw;
    margin-left: 15%;
    margin-top: -2%;
    background-color: #061E3E;
    border: 8px solid #061E3E;
    border-radius: 20px;
}

.main2 {
    height: 40vh;
    margin-left: 13%;
    background-color: white;
    border: 8px solid #061E3E;
    border-radius: 20px;
    margin-top: 25%;
}

.topContainer {
    height: 8vh;
    background-color: #061E3E;
    text-align: left;
    color: white;
    font-size: 4vh;
    padding: 10px;
    font-family: verdana;
}

.topContainer2 {
    height: 20vh;
    background-color: #061E3E;
    text-align: left;
    color: white;
    font-size: 5vh;
    padding: 10px;
    font-family: verdana;
}

.bodyContainer {
    height: 4vh;
    background-color: #083A5B;
    text-align: left;
}

.bodyContainer2 {
    height: 4vh;
    background-color: #0D81A6;
    text-align: left;
}

.bodyContainer3 {
    height: 4vh;
    background-color: #0E98BE;
    text-align: left;
}

.footerContainer {
    height: 5vh;
    background-color: #061E3E;
    font-family: verdana;
}

#leftArrow {
    color: white;
    float: left;
    font-size: 2vh;
    margin-left: 5%;
    margin-top: 1%;
}

#submitButton {
    background-color: #0E98BE;
    border: 3px solid white;
    color: white;
    float: right;
    margin-top: 1%;
    font-size: 2vh;
    margin-right: 5%;
    border-radius: 30px;
    
}

#submitButton:hover {
    background-color: white;
    border: 2px solid #0E98BE;
    color: #0E98BE;
}

#submitButton2 {
    background-color: #0E98BE;
    border: 2px solid white;
    color: white;
    text-align: center;
    margin: auto;
    font-size: 5vh;
    margin-left: 18%;
}

#submitButton2:hover {
    background-color: white;
    border: 2px solid #0E98BE;
    color: #0E98BE;
}

.bodyHeader {
    color: white;
    text-align: left;
    font-size: 2vh;
    font-weight: bold;
    font-family: verdana;
    padding: 10px;
}

.bodyInformation {
    color: white;
    font-size: 2vh;
    margin-left: 5%;
    font-family: verdana;
}

.bodyInformation2 {
    color: white;
    font-size: 2vh;
    font-family: verdana;
}

.bodyInformation3 {
    color: white;
    font-size: 2vh;
    font-family: verdana;
}

.bodyInformation4 {
    color: white;
    font-size: 2vh;
    font-family: verdana;
}

